In [1]:
import pandas as pd

In [2]:
pd.__file__

'C:\\Users\\user\\Documents\\DataEngineeringBootCamp\\pipeline\\.venv\\Lib\\site-packages\\pandas\\__init__.py'

In [3]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz', nrows=100)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    object
 2   tpep_dropoff_datetime  100 non-null    object
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: float64(9), int64(6), object(3)
memory usage: 14.2+ KB

In [7]:
len(df)

100

In [8]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz')

C:\Users\user\AppData\Local\Temp\ipykernel_22904\2933316018.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz')

In [9]:
len(df)

1369765

In [10]:
# Read a sample of the data
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'

In [12]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    prefix + 'yellow_tripdata_2021-01.csv.gz',
    nrows=100,
    dtype=dtype,
    parse_dates=parse_dates
)

In [13]:
len(df)

100

In [14]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [15]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

#### What This Does 

It creates an EMPTY table in PostgreSQL with the same structure as your DataFrame:

- Same column names
- Same data types
- No rows (0 records)

In [16]:
df.head(n=0).to_sql(
    name='yellow_taxi_data',
    con=engine,
    if_exists='replace'
)

0

In [17]:
from dataclasses import dataclass

@dataclass(frozen=True)
class ConnectionEngine:
    data_url: str
    connection_url: str
    chunk_size: int = 100_000

In [19]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [20]:
!uv add tqdm

Resolved 121 packages in 1.58s
Prepared 1 package in 456ms
Installed 1 package in 37ms
 + tqdm==4.67.1

In [21]:
from tqdm import tqdm

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm import tqdm

class DataIngestion:

    def __init__(self, config: ConnectionEngine, dtype=None, parse_dates=None):
        self.config = config
        self.engine = self._create_engine()
        self.dtype = dtype
        self.parse_dates = parse_dates

    def _create_engine(self):
        return create_engine(self.config.connection_url)

    def load_data_in_chunks(self):
        """
        Returns an iterator (generator) of DataFrame chunks
        """
        print("Loading data in chunks...")

        return pd.read_csv(
            self.config.data_url,
            dtype=self.dtype,
            parse_dates=self.parse_dates,
            iterator=True,  # Not a must
            chunksize=self.config.chunk_size
        )

    def create_table(self, df, table_name: str):
        print(f"Creating table: {table_name}")

        df.head(0).to_sql(
            name=table_name,
            con=self.engine,
            if_exists="replace",
            index=False
        )

    def insert_chunks(self, df_iterator, table_name: str):
        print("Inserting data in chunks...")

        for i, chunk in enumerate(tqdm(df_iterator, desc="Uploading chunks"), start=1):
            chunk.to_sql(
                name=table_name,
                con=self.engine,
                if_exists="append",
                index=False,
                method="multi"
            )
            print("Inserted Chunk:" , len(chunk))

        print("All chunks inserted successfully.")

    def run(self, table_name: str):
        df_iterator = self.load_data_in_chunks()

        first_chunk = next(df_iterator)
        self.create_table(first_chunk, table_name)

        # Insert first chunk
        first_chunk.to_sql(
            name=table_name,
            con=self.engine,
            if_exists="append",
            index=False,
            method="multi"
        )

        # Insert remaining chunks with progress bar
        self.insert_chunks(df_iterator, table_name)